 /* 1100px se chhoti screen ke liye */
        @media (max-width: 1100px) {
            .responsive-div {
                display: flex !important;
                margin-left: 40px !important;
                margin-top: 20px !important;
                font-size: 10px !important;
            }

            #test-grid {
                grid-template-columns: repeat(2, 1fr) !important;
                justify-content: center !important;
            }

            .line {
                width: 280px !important;
            }
        }

        /* 550px se chhoti screen ke liye */
        @media (max-width: 550px) {
            .card {
                margin-right: 23%;
            }

            #test-grid {
                grid-template-columns: repeat(1, 1fr) !important;
                justify-content: center !important;
            }

            .responsive-div {
                flex-direction: column !important;
                align-items: center !important;
                margin-left: 0 !important;
                margin-top: 200px !important;
                gap: 10px;
                font-size: 12px !important;
                /* thoda bada font mobile pe */
            }

            .responsive-div h2:first-child {
                margin-right: 0 !important;
            }

            .line {
                width: 90% !important;
                margin-left: auto !important;
                margin-right: auto !important;
            }
        }